@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --font-color: black;
    --BG-color: white;
   
  }
}

body {
color: rgb(var(--font-color));
background-color: (var(--BG-color));
 padding: 1rem;
}
